/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________ REGOLE GENERALI ________ */
body {
  font-family: 'Roboto', sans-serif;
  color: $font_color;
  font-size: 18px;
}

img {
  @include img_size;
}

section {
  padding-top: 100px;
}

h1 {
  font-size: 55px;
}
