/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________ REGOLE GENERALI ________ */
body {
  font-family: 'Roboto', sans-serif;
  color: $font_color;
  font-size: $font_size_general;
}

img {
  @include img_size;
}

section {
  padding: 100px 0;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 45px;
}
