/* ________ RESET ________ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ________ REGOLE GENERALI ________ */
body {
  font-family: 'Roboto', sans-serif;
  color: $font_color;
  font-size: $font_size_general;
}

img {
  @include img_size;
}

section {
  padding: 100px 0;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 45px;
}

// HELP
.help {
  position: fixed;
  right: 20px;
  bottom: 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: $click_color;

  i {
    font-size: 38px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}
