// HEADER
header {
  nav {
    background-color: $primary_color;
    font-size: 15px;

    .navbar-nav {
      a {
        margin-left: 10px;
        line-height: 2.5;
        padding: 0 30px;
        text-decoration: none;
        color: $secondary_color;

        &.active {
          border-bottom: 2px solid $click_color;
        }
        &:hover {
          border-bottom: 2px solid $click_color;
        }
        &.my-btn {
          background-color: $click_color;
          color: $primary_color;
          border-radius: 8px;

          &:hover {
            background-color: #63e071;
          }
        }
      }
    }

    img {
      width: 200px;
      margin-right: 100px;
    }
  }
}
