
// MAIN
main {
  margin-top: 86px;
}


#become,
#home-school,
#practical,
#placement, {

  h3 {
    font-size: 22px;
    padding: 30px 0 10px;
  }

  ul {
    padding-left: 20px;
  }

  span {
    font-weight: bold;
  }
}

#become,
#partners,
#why {
  background-color: $primary_color;
}

#informations,
#practical {
  @include layout_dark;
}

#informations {
  padding: 50px 0;
}

#partners {
  padding: 0;

  p {
    color: #8e8e8e;
  }
}

#home-school,
#placement {
  background-color: $light_section;
}

#why {

  img {
    position: relative;
    left: 43%;
    width: 50px;
    padding: 30px 0;
  }

  span {
    font-weight: bold;
  }
}
