
// MAIN
main {
  margin-top: 86px;
}

#become {
  h3 {
    font-size: 22px;
    padding: 30px 0 10px;
  }

  ul {
    padding-left: 20px;

    li {
      span {
        font-weight: bold;
      }
    }
  }
}

#informations {
  background-color: $secondary_color;
  color: $primary_color;
  padding: 50px 0;

  h2 {
    font-size: 50px;
  }
}
