
// MAIN
main {
  margin-top: 86px;
}

// BACKGROUND DELLE SEZIONI
#become,
#partners,
#why {
  background-color: $primary_color;
}

#informations,
#practical,
#talk {
  @include layout_dark;
}

#home-school,
#placement,
#success,
#next {
  background-color: $light_section;
}

// STILI DELLE SEZIONI
#become,
#home-school,
#practical,
#placement, {
  h3 {
    font-size: 22px;
    padding: 30px 0 10px;
  }

  ul {
    padding-left: 20px;
  }

  span {
    font-weight: bold;
  }
}


#informations,
#success {
  padding: 50px 0;
}

#partners {
  padding: 0;

  p {
    color: #8e8e8e;
  }
}


#why {
  img {
    position: relative;
    left: 43%;
    width: 50px;
    padding: 30px 0;
  }

  span {
    font-weight: bold;
  }
}

#success {
  .row {
    padding: 20px 0;
    align-items: center;
  }

  span {
    font-weight: bold;
  }
}

#talk {
  padding: 20px 0;
}

#next {
  padding-top: 50px;

  .bell {
    position: absolute;
    right: 230px;
    top: -25px;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      position: absolute;
      animation-name: ring;
      animation: ring 4s ease-in-out infinite;
      animation-delay: 0.7s;
      transform-origin: 50% 4px;
    }

    @keyframes ring {
      0% { transform: rotate(0deg) };
      1% { transform: rotate(45deg) };
      2% { transform: rotate(-42deg) };
      4% { transform: rotate(40deg) };
      6% { transform: rotate(-38deg) };
      8% { transform: rotate(36deg) };
      10% { transform: rotate(-32deg) };
      12% { transform: rotate(30deg) };
      14% { transform: rotate(-28deg) };
      16% { transform: rotate(24deg) };
      18% { transform: rotate(-20deg) };
      20% { transform: rotate(16deg) };
      22% { transform: rotate(-12deg) };
      24% { transform: rotate(10deg) };
      26% { transform: rotate(-8deg) };
      28% { transform: rotate(4deg) };
      30% { transform: rotate(0deg) };
    }
  }

  h2 {
    padding-top: 30px;
  }

  span {
    padding: 15px 30px 15px 50px;
    background-color: $click_color;
    color: white;
    border-radius: 50px;
    font-size: 15px;
  }
  ul {
    padding-top: 50px;
    list-style-type: none;

    li {
      display: inline-block;
      width: 240px;
      padding: 10px 0;
      background-color: $click_color;
      @include btn_style;

      &:hover {
        background-color: #63e071;
      }

      &:last-of-type {
        background-color: $secondary_color;
        margin-left: 50px;

        &:hover {
          background-color: #044669;
        }
      }

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
