@mixin img_size {
  width: 100%;
  display: block;
}

@mixin layout_dark {
  background-color: $secondary_color;
  color: $primary_color;
}

@mixin btn_style {
  color: $primary_color;
  border-radius: 8px;
}
